QDRANT_IMAGE=qdrant/qdrant
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

WEAVIATE_IMAGE=semitechnologies/weaviate
WEAVIATE_HTTP_PORT=8080
WEAVIATE_GRPC_PORT=50051
WEAVIATE_QUERY_DEFAULTS_LIMIT=20
WEAVIATE_AUTH_ANON=true
WEAVIATE_DEFAULT_VECTORIZER_MODULE=none
WEAVIATE_ENABLE_MODULES=

ETCD_IMAGE=quay.io/coreos/etcd:v3.5.5

MINIO_IMAGE=minio/minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MILVUS_IMAGE=milvusdb/milvus:v2.4.6
MILVUS_GRPC_PORT=19530
MILVUS_HTTP_PORT=9091
